#info {
    position: absolute;
    left: 20px;
    top: 410px;
    width: 639px;
    border: 2px solid #000077;
    padding: 4px;
}

#info h3 {
    margin-top: 2px;
}

#pois {
  position: absolute;
  left: 20px;
}

#pois img {
  position: absolute;
}

#fr {
  top: 0px;
  left: 0px;
}
#uk {
  top: 0px;
  left: 312px;
}
#it {
  top: 201px;
  left: 312px;
}
